#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

include /usr/share/dpkg/architecture.mk

export DEB_LDFLAGS_MAINT_PREPEND := -Wl,-z,defs
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	cmake .
	dh_auto_build

override_dh_auto_test:
    ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	dh_auto_test -O--buildsystem=cmake -O--no-parallel
endif

override_dh_clean:
	dh_clean
	$(RM) -r CMakeCache.txt CMakeFiles CTestTestfile.cmake Makefile cmake_install.cmake \
        obj-*/ spit/CMakeFiles spit/CTestTestfile.cmake spit/DartConfiguration.tcl \
        spit/Makefile spit/cmake_install.cmake spit/spit-version.h
